body{
	background-color: #269485;
}

.AlertDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: "Comic Sans MS";
	border-bottom: 2px solid #2EB445;
	color:#B0CAAC;
    width: 600px;
    font-size: 4em;
    text-align:center;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 450px;
	height: 400px;
	margin: 20px;
	transition: all 1s;
}

img:hover{
 	transform: scale(1.1);
}